.content {
  background-color: rgb(233, 233, 233);
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.especial-text {
  font-weight: bold;
  color: #D2D2D2;
  text-transform: uppercase;
  font-size: 60px;
  opacity: .5;
}

.anim-menu {
  position: fixed;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0,0,0,.4);
  padding: 10px 0;

  &__item {
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: left;
    background-color: transparent;
    padding: 2px 4px;
  }

  &--hidden {
    display: none;
  }
}