.footer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.controls {
  width: 200px;
  background-color: #313152;
  border-radius: 12px;
  padding: 12px;

  &__play {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

    img {
      width: 40%;
    }

    .playimg {
      display: none;
    }
  }
}

.eq {
  background-color: #313152;
  overflow: hidden;
  border-radius: 12px;
  margin-left: 20px;
  display: flex;
  flex-grow: 1;

  &__tabs {
    width: 100px;
    display: flex;
    flex-direction: column;
  }

  &__tab {
    width: 100%;
    flex-grow: 1;
    border: none;
    background-repeat: no-repeat;
    background-position: center;

    &--vocals {
      background-color: #0FA958;
      background-image: url('../svg/vocals.svg');
    }
    &--drums {
      background-color: #F24E1E;
      background-image: url('../svg/drums.svg');
    }
    &--other {
      background-color: #5551FF;
      background-image: url('../svg/other.svg');
    }
    &--bass {
      background-color: #FFC700;
      background-image: url('../svg/bass.svg');
    }
  }

  &__content {
    flex-grow: 1;
    background-color: #313152;
    flex-basis: 1;
    padding: 10px;
  }

  &__canvas {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}