.body {
  width: 100vw;
  height: 100vh;
  background-color: #1E1E36;
  display: flex;
}

.title-text {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .5;
  letter-spacing: 1.2px;
}

