.content {
  background-color: rgb(233, 233, 233);
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.especial-text {
  font-weight: bold;
  color: #d2d2d2;
  text-transform: uppercase;
  font-size: 60px;
  opacity: 0.5;
}
// ------------------------------------------------
.shape-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #4c4c73;
  padding: 9px 6px;
  border-radius: 4px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
  label {
    color: #77779d;
    margin-bottom: 4px;
  }
  &__item-color {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #4c4c73;
    bottom: -29px;
    left: 38%;
  }

  &--hidden {
    display: none;
  }
}
// ------------------------------------------------
.anim-menu {
  position: fixed;
  width: 50px;
  background-color: #f5f3f3;
  border-radius: 4px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  // padding: 10px 0;
  overflow: hidden;

  &__item {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
    text-align: left;
    background-color: transparent;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #313152;
    }
    img {
      width: 60%;
    }
    &:last-child {
      border-bottom: transparent;
    }
  }

  &--hidden {
    display: none;
  }
}
