.time-line{
  width: 100%;
  height: 30px;
  &__time-info{
    color: white;
    margin-bottom: 15px;
    span{
      font-size: 12px;
      &:nth-child(2){
        color: gray;
      }
    }
  }

  &__shape-handlers{
    height: 20px;
    position: relative;

    &.hidden {
      display: block;
      opacity: 0;
      pointer-events: none;
    }
  }
  &__handler{
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 20px;
    background-color: violet;
  }
  &__left{
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
  &__handlers-fill{
    position: absolute;
    flex-grow: 1;
    background-color: violet;
    opacity: 0.5;
    height: 100%;
  }
  &__right{
    
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }
  
  &__rail{
    width: 100%;
    height: 8px;
    background-color: blue;
  }
  &__fill{
    width: 60%;
    background-color: red;
    height: 100%;
    position: relative;
  }
  &__rail-handler{
    right: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50px;
    transform: translate(50%,-50%);
    top: 50%;
    position: absolute;
    cursor: pointer;
  }

}